# Aliases names and emails inside of commits.
# See https://git-scm.com/docs/gitmailmap
#
# Some entries appear as duplicates, but are both required to correct
# identities with just the wrong name as well as those with the wrong
# name and also the wrong email address.

# Accounts with a display name.
Aaron D. Campbell <aaroncampbell@git.finpress.org> <aaroncampbell@602fd350-edb4-49c9-b593-d223f7449a82>
Aaron Jorbin <jorbin@git.finpress.org> <jorbin@602fd350-edb4-49c9-b593-d223f7449a82>
Adam Silverstein <adamsilverstein@git.finpress.org> <adamsilverstein@602fd350-edb4-49c9-b593-d223f7449a82>
Adam Zieliński <zieladam@git.finpress.org> <zieladam@602fd350-edb4-49c9-b593-d223f7449a82>
Adam Zieliński <zieladam@git.finpress.org>
Alex King <alexkingorg@git.finpress.org> <alexkingorg@602fd350-edb4-49c9-b593-d223f7449a82>
Alex Shiels <tellyworth@git.finpress.org> <tellyworth@602fd350-edb4-49c9-b593-d223f7449a82>
André <oandregal@git.finpress.org>
André <oandregal@git.finpress.org> <oandregal@602fd350-edb4-49c9-b593-d223f7449a82>
Andrea Fercia <afercia@git.finpress.org> <afercia@602fd350-edb4-49c9-b593-d223f7449a82>
Andrew Duthie <aduth@git.finpress.org> <aduth@602fd350-edb4-49c9-b593-d223f7449a82>
Andrew Nacin <nacin@git.finpress.org> <nacin@602fd350-edb4-49c9-b593-d223f7449a82>
Andrew Ozz <azaozz@git.finpress.org> <azaozz@602fd350-edb4-49c9-b593-d223f7449a82>
Anthony Burchell <antpb@git.finpress.org> <antpb@602fd350-edb4-49c9-b593-d223f7449a82>
Anton Timmermans <atimmer@git.finpress.org> <atimmer@602fd350-edb4-49c9-b593-d223f7449a82>
Bernie Reiter <bernhard-reiter@git.finpress.org>
Bernie Reiter <bernhard-reiter@git.finpress.org> <bernhard-reiter@602fd350-edb4-49c9-b593-d223f7449a82>
Boone Gorges <boonebgorges@git.finpress.org> <boonebgorges@602fd350-edb4-49c9-b593-d223f7449a82>
Carlos Bravo <cbravobernal@git.finpress.org> <cbravobernal@602fd350-edb4-49c9-b593-d223f7449a82>
Colin Stewart <costdev@git.finpress.org> <costdev@602fd350-edb4-49c9-b593-d223f7449a82>
Daniel Bachhuber <danielbachhuber@git.finpress.org> <danielbachhuber@602fd350-edb4-49c9-b593-d223f7449a82>
Daniel Richards <talldanwp@git.finpress.org> <talldanwp@602fd350-edb4-49c9-b593-d223f7449a82>
Daryl Koopersmith <koop@git.finpress.org> <koop@602fd350-edb4-49c9-b593-d223f7449a82>
David A. Kennedy <davidakennedy@git.finpress.org> <davidakennedy@602fd350-edb4-49c9-b593-d223f7449a82>
David Baumwald <davidbaumwald@git.finpress.org> <davidbaumwald@602fd350-edb4-49c9-b593-d223f7449a82>
Dennis Snell <dmsnell@git.finpress.org> <dmsnell@602fd350-edb4-49c9-b593-d223f7449a82>
Dion Hulse <dd32@git.finpress.org> <dd32@602fd350-edb4-49c9-b593-d223f7449a82>
Dominik Schilling <ocean90@git.finpress.org>
Dominik Schilling <ocean90@git.finpress.org> <ocean90@602fd350-edb4-49c9-b593-d223f7449a82>
Donncha O Caoimh <donncha@git.finpress.org> <donncha@602fd350-edb4-49c9-b593-d223f7449a82>
Dougal Campbell <dougal@git.finpress.org> <dougal@602fd350-edb4-49c9-b593-d223f7449a82>
Drew Jaynes <drewapicture@git.finpress.org>
Drew Jaynes <drewapicture@git.finpress.org> <drewapicture@602fd350-edb4-49c9-b593-d223f7449a82>
Drew Jaynes <drewapicture@git.finpress.org> <DrewAPicture@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.finpress.org>
Ella <ellatrix@git.finpress.org> <ellatrix@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.finpress.org> <iseulde@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.finpress.org> <iseulde@git.finpress.org>
Eric Andrew Lewis <ericlewis@git.finpress.org> <ericlewis@602fd350-edb4-49c9-b593-d223f7449a82>
Felix Arntz <flixos90@git.finpress.org> <flixos90@602fd350-edb4-49c9-b593-d223f7449a82>
Gary Pendergast <pento@git.finpress.org> <pento@602fd350-edb4-49c9-b593-d223f7449a82>
Greg Ziółkowski <gziolo@git.finpress.org>
Greg Ziółkowski <gziolo@git.finpress.org> <gziolo@602fd350-edb4-49c9-b593-d223f7449a82>
Helen Hou-Sandi <helen@git.finpress.org> <helen@602fd350-edb4-49c9-b593-d223f7449a82>
Ian Belanger <ianbelanger@git.finpress.org> <ianbelanger@602fd350-edb4-49c9-b593-d223f7449a82>
Ian Dunn <iandunn@git.finpress.org> <iandunn@602fd350-edb4-49c9-b593-d223f7449a82>
Ian Stewart <iandstewart@git.finpress.org> <iandstewart@602fd350-edb4-49c9-b593-d223f7449a82>
Isabel Brison <isabel_brison@git.finpress.org> <isabel_brison@602fd350-edb4-49c9-b593-d223f7449a82>
Jake Spurlock <whyisjake@git.finpress.org> <whyisjake@602fd350-edb4-49c9-b593-d223f7449a82>
James Nylen <jnylen0@git.finpress.org> <jnylen0@602fd350-edb4-49c9-b593-d223f7449a82>
Jb Audras <audrasjb@git.finpress.org> <audrasjb@602fd350-edb4-49c9-b593-d223f7449a82>
Jeff Ong <jffng@git.finpress.org> <jffng@602fd350-edb4-49c9-b593-d223f7449a82>
Jeremy Felt <jeremyfelt@git.finpress.org> <jeremyfelt@602fd350-edb4-49c9-b593-d223f7449a82>
Joe Dolson <joedolson@git.finpress.org> <joedolson@602fd350-edb4-49c9-b593-d223f7449a82>
Joe Hoyle <joehoyle@git.finpress.org> <joehoyle@602fd350-edb4-49c9-b593-d223f7449a82>
Joe McGill <joemcgill@git.finpress.org> <joemcgill@602fd350-edb4-49c9-b593-d223f7449a82>
John Blackbourn <johnbillion@git.finpress.org> <johnbillion@602fd350-edb4-49c9-b593-d223f7449a82>
John James Jacoby <johnjamesjacoby@git.finpress.org> <johnjamesjacoby@602fd350-edb4-49c9-b593-d223f7449a82>
Jon Cave <duck_@git.finpress.org> <duck_@602fd350-edb4-49c9-b593-d223f7449a82>
Jonathan Desrosiers <desrosj@git.finpress.org> <desrosj@602fd350-edb4-49c9-b593-d223f7449a82>
Jonny Harris <spacedmonkey@git.finpress.org> <spacedmonkey@602fd350-edb4-49c9-b593-d223f7449a82>
Jorge Costa <jorgefilipecosta@git.finpress.org> <jorgefilipecosta@602fd350-edb4-49c9-b593-d223f7449a82>
Joseph Scott <josephscott@git.finpress.org> <josephscott@602fd350-edb4-49c9-b593-d223f7449a82>
Juliette Reinders Folmer <jrf@git.finpress.org>
Juliette Reinders Folmer <jrf@git.finpress.org> <jrf@602fd350-edb4-49c9-b593-d223f7449a82>
K. Adam White <kadamwhite@git.finpress.org> <kadamwhite@602fd350-edb4-49c9-b593-d223f7449a82>
Kelly Choyce-Dwan <ryelle@git.finpress.org>
Kelly Choyce-Dwan <ryelle@git.finpress.org> <ryelle@602fd350-edb4-49c9-b593-d223f7449a82>
Kira Schroder <kirasong@git.finpress.org> <mikeschroder@602fd350-edb4-49c9-b593-d223f7449a82>
Kira Schroder <kirasong@git.finpress.org> <mikeschroder@git.finpress.org>
Konstantin Kovshenin <kovshenin@git.finpress.org> <kovshenin@602fd350-edb4-49c9-b593-d223f7449a82>
Konstantin Obenland <obenland@git.finpress.org>
Konstantin Obenland <obenland@git.finpress.org> <obenland@602fd350-edb4-49c9-b593-d223f7449a82>
Lance Willett <lancewillett@git.finpress.org> <lancewillett@602fd350-edb4-49c9-b593-d223f7449a82>
Marius L. J <clorith@git.finpress.org> <clorith@602fd350-edb4-49c9-b593-d223f7449a82>
Mark Jaquith <markjaquith@git.finpress.org> <markjaquith@602fd350-edb4-49c9-b593-d223f7449a82>
Matias Ventura <matveb@git.finpress.org> <matveb@602fd350-edb4-49c9-b593-d223f7449a82>
Matt Mullenweg <matt@git.finpress.org> <matt@602fd350-edb4-49c9-b593-d223f7449a82>
Matt Thomas <iammattthomas@git.finpress.org> <iammattthomas@602fd350-edb4-49c9-b593-d223f7449a82>
Mel Choyce <melchoyce@git.finpress.org> <melchoyce@602fd350-edb4-49c9-b593-d223f7449a82>
Michael Adams <mdawaffe@git.finpress.org>
Michael Adams <mdawaffe@git.finpress.org> <mdawaffe@602fd350-edb4-49c9-b593-d223f7449a82>
Michael Arestad <michael-arestad@git.finpress.org> <michael-arestad@602fd350-edb4-49c9-b593-d223f7449a82>
Michal Czaplinski <czapla@git.finpress.org> <czapla@602fd350-edb4-49c9-b593-d223f7449a82>
Miguel Fonseca <mcsf@git.finpress.org> <mcsf@602fd350-edb4-49c9-b593-d223f7449a82>
Mike Little <mikelittle@git.finpress.org> <mikelittle@602fd350-edb4-49c9-b593-d223f7449a82>
Nikolay Bachiyski <nbachiyski@git.finpress.org> <nbachiyski@602fd350-edb4-49c9-b593-d223f7449a82>
Omar Reiss <omarreiss@git.finpress.org> <omarreiss@602fd350-edb4-49c9-b593-d223f7449a82>
Pascal Birchler <swissspidy@git.finpress.org> <swissspidy@602fd350-edb4-49c9-b593-d223f7449a82>
Pete Mall <petemall@git.finpress.org> <petemall@602fd350-edb4-49c9-b593-d223f7449a82>
Peter Westwood <westi@git.finpress.org> <westi@602fd350-edb4-49c9-b593-d223f7449a82>
Peter Wilson <peterwilsoncc@git.finpress.org> <peterwilsoncc@602fd350-edb4-49c9-b593-d223f7449a82>
Rachel Baker <rachelbaker@git.finpress.org> <rachelbaker@602fd350-edb4-49c9-b593-d223f7449a82>
Riad Benguella <youknowriad@git.finpress.org> <youknowriad@602fd350-edb4-49c9-b593-d223f7449a82>
Robert Anderson <noisysocks@git.finpress.org> <noisysocks@602fd350-edb4-49c9-b593-d223f7449a82>
Ron Rennick <wpmuguru@git.finpress.org> <wpmuguru@602fd350-edb4-49c9-b593-d223f7449a82>
Ryan Boren <ryan@git.finpress.org> <ryan@602fd350-edb4-49c9-b593-d223f7449a82>
Ryan McCue <rmccue@git.finpress.org> <rmccue@602fd350-edb4-49c9-b593-d223f7449a82>
Scott Taylor <wonderboymusic@git.finpress.org> <wonderboymusic@602fd350-edb4-49c9-b593-d223f7449a82>
Sergey Biryukov <sergeybiryukov@git.finpress.org> <sergeybiryukov@602fd350-edb4-49c9-b593-d223f7449a82>
Sergey Biryukov <sergeybiryukov@git.finpress.org> <SergeyBiryukov@602fd350-edb4-49c9-b593-d223f7449a82>
Tammie Lister <karmatosed@git.finpress.org>
Tammie Lister <karmatosed@git.finpress.org> <karmatosed@602fd350-edb4-49c9-b593-d223f7449a82>
Timothy Jacobs <timothyblynjacobs@git.finpress.org> <timothyblynjacobs@602fd350-edb4-49c9-b593-d223f7449a82>
Timothy Jacobs <timothyblynjacobs@git.finpress.org> <TimothyBlynJacobs@602fd350-edb4-49c9-b593-d223f7449a82>
Tonya Mork <hellofromTonya@git.finpress.org> <hellofromTonya@602fd350-edb4-49c9-b593-d223f7449a82>
Tonya Mork <hellofromTonya@git.finpress.org> <hellofromtonya@git.finpress.org>
Weston Ruter <westonruter@git.finpress.org> <westonruter@602fd350-edb4-49c9-b593-d223f7449a82>

# Accounts without a corresponding display name.
allancole <allancole@git.finpress.org> <allancole@602fd350-edb4-49c9-b593-d223f7449a82>
bumpbot <bumpbot@git.finpress.org> <bumpbot@602fd350-edb4-49c9-b593-d223f7449a82>
jverber <jverber@git.finpress.org> <jverber@602fd350-edb4-49c9-b593-d223f7449a82>
laurelfulford <laurelfulford@git.finpress.org> <laurelfulford@602fd350-edb4-49c9-b593-d223f7449a82>
luisherranz <luisherranz@git.finpress.org> <luisherranz@602fd350-edb4-49c9-b593-d223f7449a82>
michelvaldrighi <michelvaldrighi@git.finpress.org> <michelvaldrighi@602fd350-edb4-49c9-b593-d223f7449a82>
potbot <potbot@git.finpress.org> <potbot@602fd350-edb4-49c9-b593-d223f7449a82>
ramonopoly <ramonopoly@git.finpress.org> <ramonopoly@602fd350-edb4-49c9-b593-d223f7449a82>
rob1n <rob1n@git.finpress.org> <rob1n@602fd350-edb4-49c9-b593-d223f7449a82>
scribu <scribu@git.finpress.org> <scribu@602fd350-edb4-49c9-b593-d223f7449a82>
zieladam <zieladam@git.finpress.org> <zieladam@602fd350-edb4-49c9-b593-d223f7449a82>
